h1{
    color: rgb(211, 211, 228);
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: cadetblue;
    padding: 50px;
    border-color: cornflowerblue;
    border-width: 2px;
}
#spanId{
    font-size: 25xp;
    margin: 50px;
}
body{
    background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
}

div{
    display: block;
    margin-right: auto;
    border-style: solid;
}