h1 {
    color: rgb(141, 248, 155);
}


#spanId {
    color: rgb(238, 59, 59);
}

body {
    background-image: url("__https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
}

img {
    width: 200px;
    height: 200px;
}

/* div {
    display: block;
    border-style: solid;
} */

.divClass {
    align-content: center;
    border: 2px solid;
    align-items: center;
    
}
#thirdDiv {
    width: 800px;
    background-color: rgb(160, 240, 243);
    padding: 50px;
    align-content: center;
    border: solid 20px;
}

div:li{
    color: darksalmon;
}